{% extends 'base.html.twig' %}
{% block body %}
    {{ form(form) }}
    {% for object  in objects %}
        <div>
            <h3>{{ object.objectName }}</h3>
            <p>Кол-во номеров: {{ object.roomNumber }}</p>
            <p>Цена: {{ object.price }}</p>
            <a href="/object-detail/{{ object.objectName  }}">Бронировать</a>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

