{% extends 'base.html.twig' %}

{% block body %}
    <div id="map" style="width: 100%; height: 300px"></div>
    {{ form(form) }}
{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}
    <script>
        ymaps.ready(init);
        let myMap,
            myPlacemark;

        function init() {
            myMap = new ymaps.Map('map', {
                center: [42.641975, 77.182632], // Иссык-Куль
                controls: ['largeMapDefaultSet'],
                zoom: 8
            });

            myPlacemark = new ymaps.Placemark();

            myMap.events.add('click', function (e) {
                let coords = e.get('coords');
                myPlacemark.geometry.setCoordinates(coords); // устанавливаем метке координаты, высчитанные из положения клика
                myMap.geoObjects.add(myPlacemark); // ставим метку на карту
                $('#booking_object_address').attr('value', coords[0] + ', ' + coords[1]); // записываем координаты в поле с адресом
                console.log(coords)
            });
        }
    </script>
{% endblock %}

