{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div id="map" style="width: 100%; height: 300px"></div>
        <h3>{{ object.objectName }}</h3>
        <p>Кол-во номеров: {{ object.roomNumber }}</p>
        <p>Цена: {{ object.price }}</p>
    </div>
    <h3>Номера для бронирования</h3>
    {% for i in 1..object.roomNumber %}
        {% for date in dates %}
            <div>
                {% if i == date.number %}
                   <p>
                      Дата окончания брони {{ date.date['date'] }}
                   </p>
                {% endif %}
        {% endfor %}
                {{ i }} <a href="{{ path('object-booking', {'number': i, 'objectName': object.objectName}) }}">Бронировать</a>
            </div>

    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            ymaps.ready(init);

            function init() {
                // Создание карты.
                let myMap = new ymaps.Map("map", {
                    center: [{{ object.address }}],
                    zoom: 10,
                });

                let myPlacemark = new ymaps.Placemark([{{ object.address }}], {
                    // Хинт показывается при наведении мышкой на иконку метки.
                    hintContent: 'Содержимое всплывающей подсказки',
                    // Балун откроется при клике по метке.
                    balloonContent: 'Содержимое балуна'
                });

                myMap.geoObjects.add(myPlacemark);

            }
        });
    </script>
{% endblock %}

