{% extends 'base.html.twig' %}

{% block body %}
    <h1>ПРОФИЛЬ</h1>
    <h3>Привязать соц. сеть</h3>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    {% set vk = 'vkontakte' %}
    {% set fb = 'facebook' %}
    {% set google = '' %}
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name,email;providers=google,vkontakte,facebook;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fsocial-link;mobilebuttons=0;"></div>
{% endblock %}

{% block title %}

{% endblock %}

